SCRIPT_PATH: <read.sh location>
THERMOMETER_ADDR: <thermometer BLE mac address>

EMAIL_SENDER: <sender e-mail address>
EMAIL_SENDER_PASSWORD: <sender e-mail password>
EMAIL_RECEIVER: <e-mail receiver address>
SEND_MAIL: <yes/no>

HUMIDITY_MIN: <minimum 0-100>
HUMIDITY_MAX: <maximum 0-100>
TEMPERATURE_MIN: <minimum>
TEMPERATURE_MAX: <maximum>
MAX_INVALID_READINGS: <allowed consecutive invalid readings>
MAX_OUT_OF_BOUNDS_READINGS: <allowed consecutive out-of-bounds readings>

MONGO_URI: <mongo cloud connection URI>
MONGO_LOCAL_URI: <local mongo connection URI>
MONGO_DATABASE: <database name>
MONGO_COLLECTION: <collection name>
LOCAL_MONGO: <yes/no>
